/* book/style.css */

@import url("./css/base.css");
@import url("./css/header.css");
@import url("./css/menu.css");
@import url("./css/components.css");
@import url("./css/book-card.css");
@import url("./css/modal.css");
@import url("./css/footer.css");
